<<<<<<< HEAD
@import "../../app.scss";
=======
@import "app";
>>>>>>> f2ac4f542beb0c90f2b08277124b50c39ac86c90

.cursor{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
  position: fixed;
  z-index: 999;

  @include mobile{
    display: none;
  }
}